<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>URL Shotener</title>
</head>
<body>
    <div>
        <form method="post">
            <input type="url" name="url" size="80" placeholder="Enter URL">
            <button type="submit">Shorten</button>
        </form>
    </div>
    <div>{{shorted}}</div>
</body>
</html>